* {
    padding: 0%;
    margin: 0%;
}

.top {
    width: 100%;
    height: 100px;
    background: #1C1D21;
}

.logo {
    margin-left: 300px;
    margin-top: 20px;
    width: 80px;
    height: 50px;
}

.nav {
    position: absolute;
    top: 40px;
    right: 300px;
}

.nav li a {
    color: whitesmoke;
    text-decoration: none;
}

.nav li {
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
    width: 90px;
}

.nav li:hover
{
    color: red;
    font-family:STXingka;
    font-size: 20px;

}